/*------------------------------------------------------------------------------
  Footer
------------------------------------------------------------------------------*/
.copyright {
  margin: 0;
  font: $light rem(18)/rem(30) $eaves;
  color: $white;
  text-align: right;
  opacity: 0.5;
}
