/*----------------------------------------------------------------------------
  About
----------------------------------------------------------------------------*/
.about-page {
  height: calc(100vh - 122px);
  align-items: center;
  transform-style: preserve-3d;

  #icon1 {
    opacity: 1;
    bottom: 6vh;
    left: 80vw;
  }
  #icon2 {
    opacity: 0.8;
    bottom: 15vh;
    left: 40vw;
  }
  #icon3 {
    opacity: 0.6;
    bottom: 65vh;
    left: 70vw;
  }
  #icon4 {
    opacity: 0.3;
    bottom: 75vh;
    left: 25vw;
  }
  #icon5 {
    max-width: rem(200);
    opacity: 1;
    bottom: rem(-60);
    left: calc(-8.333% - 0.8rem);
    z-index: -2;
  }
}
