/*----------------------------------------------------------------------------
  Single
----------------------------------------------------------------------------*/
.single-page {

  #icon1 {
    opacity: 1;
    bottom: 15vh;
    left: 10vw;
  }
  #icon2 {
    opacity: 0.5;
    bottom: 70vh;
    left: 25vw;
  }
  #icon3 {
    opacity: 0.3;
    bottom: 80vh;
    left: 70vw;
  }
  #icon4 {
    max-width: rem(200);
    opacity: 1;
    bottom: rem(-70);
    left: rem(-55);
    z-index: -2;
  }
}
