/*----------------------------------------------------------------------------
  Single
----------------------------------------------------------------------------*/
.single-page {

  &__hero {
    height: calc(100vh - 122px);
    align-items: center;
  }

  &__hero-image {
    min-height: 63vh;
    width: 100%;
  }

  &__hero-text {
    position: absolute;

    p {
      font-size: rem(26);
    }
  }

  #icon1 {
    opacity: 0.6;
    bottom: 40vh;
    left: 4vw;
  }
  #icon2 {
    opacity: 0.4;
    bottom: 70vh;
    left: 25vw;
  }
  #icon3 {
    opacity: 0.3;
    bottom: 80vh;
    left: 70vw;
  }
  #icon4 {
    opacity: 1;
    bottom: -6vh;
    left: 65vw;
  }
  #icon5 {
    max-width: rem(400);
    opacity: 1;
    bottom: rem(-70);
    left: rem(-55);
    z-index: -2;
  }

  &__info {
    margin: rem(75) 0;
    padding: rem(25) 0 0;
    background-color: rgba(0,0,0,0.1);
  }
}
